<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless.Extras" />
	</configSections>
	<appSettings>
		<add key="Exceptionless:ServerUrl" value="如果不是本地部署请注释"/>
	</appSettings>
	<exceptionless apiKey="Youkey" />
</configuration>