<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cd.Exceptionless.Framework" version="1.0.5" targetFramework="net40" />
  <package id="Exceptionless.Portable" version="3.5.1738" targetFramework="net40" />
  <package id="Exceptionless.Windows" version="3.5.1738" targetFramework="net40" />
</packages>